<form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
  <div class="row m-b-15">
    <div class="col-md-6">
      <label class="control-label">Node Power <span class="text-danger">*</span></label>
      <input name="nodePower" ngModel type="range" class="form-control-range" min=0 max=30 step=1>
    </div>
    <div class="col-md-6">
      <label class="control-label">Node antenna TX <span class="text-danger">*</span></label>
      <input name="nodeAntennaTX" ngModel type="range" class="form-control-range" min=0 max=10 step=1>
    </div>
  </div>
  <label class="control-label">Frequency <span class="text-danger">*</span></label>
  <div class="row m-b-15">
    <div class="col-md-12">
      <div class="radio radio-css">
        <input type="radio" id="500" name="frequency" [value]="500" ngModel/>
        <label for="500">500 MHz</label>
      </div>
      <div class="radio radio-css">
        <input type="radio" id="868" name="frequency" [value]="868" ngModel/>
        <label for="868">868/915 MHz</label>
      </div>
      <div class="radio radio-css">
        <input type="radio" id="2400" name="frequency" [value]="2400" ngModel/>
        <label for="2400">2.4 GHz</label>
      </div>
    </div>
  </div>
  <div class="register-buttons">
    <button type="submit" class="btn btn-success btn-block btn-lg">Let's Go</button>
  </div>
</form>
