<!-- begin #page-title -->
<div id="page-title" class="page-title has-bg">
  <div class="bg-cover bottom"><img src="./assets/img/cover.webp" alt="" /></div>
  <div class="container">
    <h1>Avidnet Range Calculator</h1>
    <p>
      Just calculate and imagine how far could LPWAN deliver your sensor data and how many kilometers you can cover with Avidnet IoT Devices.
    </p>
  </div>
</div>
<!-- end #page-title -->
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin container -->
  <div class="container">
    <!-- begin row -->
    <div class="row row-space-30">
      <app-calculator class="col-12"></app-calculator>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #content -->
